{
  "applications": {
          "jenkins": {
                  "processes": 1,
                  "type": "java 1.8.0",
                  "options": ["-Djenkins.install.runSetupWizard=false",
                    "-Dio.jenkins.dev.security.createAdmin=true",  "-Dio.jenkins.dev.security.allowRunsOnMaster=true",
                    "-Djenkins.model.Jenkins.slaveAgentPort=50000",
                    "-Dlog_path=/home/jenkins/jenkins.log"
                    ],
                  "webapp": "/home/jenkins/jenkins.war"
          }
  },
  "listeners": {
          "*:8080": {
                  "application": "jenkins"
          }
  }
}